<!DOCTYPE html>
<html lang="zh">
<head>
	{{template "layout/header.html" .}}
	<link rel="stylesheet" href="/static/ace1.3.1/css/select2.css" />
</head>

<body class="no-skin">
	<!-- #section:basics/navbar.layout -->
	<div id="navbar" class="navbar navbar-default">
		<script type="text/javascript">try{ace.settings.check('navbar' , 'fixed')}catch(e){}</script>

		<div class="navbar-container" id="navbar-container">{{template "layout/navbar.html" .}}</div>
		<!-- /.navbar-container -->
	</div>

	<!-- /section:basics/navbar.layout -->
	<div class="main-container" id="main-container">
		<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
		{{template "layout/sidebar.html" .}}
		<div class="main-content">
			<!-- #section:basics/content.breadcrumbs -->
			<div class="breadcrumbs" id="breadcrumbs">
				<script type="text/javascript">try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}</script>

				<ul class="breadcrumb">
					<li> <i class="ace-icon fa fa-home home-icon"></i>
						<a href="#">主页</a>
					</li>

					<li>
						<a href="#">系统管理</a>
					</li>
					<li class="active">用户</li>
				</ul>
				<!-- /.breadcrumb -->

				<!-- #section:basics/content.searchbox -->
				<div class="nav-search" id="nav-search">
					<form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" /> <i class="ace-icon fa fa-search nav-search-icon"></i>
						</span>
					</form>
				</div>
				<!-- /.nav-search -->

				<!-- /section:basics/content.searchbox -->
			</div>

			<!-- /section:basics/content.breadcrumbs -->
			<div class="page-content">
				{{template "layout/acesetting.html"}}
				<div class="page-content-area">
					<div class="page-header">
						<h1>
							用户
							<small>
								<i class="ace-icon fa fa-angle-double-right"></i>
								管理用户
							</small>
						</h1>
					</div>
					<!-- /.page-header -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<div class="col-sm-12">
									<div class="widget-box" id="organization_widget">
										<div class="widget-header">
											<h4 class="widget-title lighter smaller">用户管理</h4>
											<div class="widget-toolbar">
												<div class="widget-menu">
													<div class="btn-group">
														<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#addUser">
															<i class="ace-icon fa fa-user"></i>
															新增用户
														</button>

														<button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">
															<span class="ace-icon fa fa-caret-down icon-only"></span>
														</button>

														<ul class="dropdown-menu dropdown-primary">
															<li>
																<a href="#" id="modify" data-toggle="modal" data-target="#modifyUser">
																	<i class="ace-icon fa fa-user"></i>
																	编辑用户
																</a>
															</li>

															<li class="divider"></li>

															<li>
																<a href="#" id="deleteUser">
																	<i class="ace-icon fa fa-user"></i>
																	删除用户
																</a>
															</li>
														</ul>
													</div>
												</div>

												<a href="#" data-action="fullscreen" class="orange2">
													<i class="ace-icon fa fa-expand"></i>
												</a>

												<!-- <a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>
											-->
											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

											<a href="#" data-action="close">
												<i class="ace-icon fa fa-times"></i>
											</a>
										</div>
									</div>

									<div class="widget-body">
										<div class="widget-main padding-8">
											<div class="row">
												<div class="col-sm-3">
													<h4 class="header smaller lighter blue">组织机构</h4>
													<div id="organization-tree" class="tree tree-folder-select"></div>
												</div>

												<div class="col-sm-9">
													<!-- <h4 class="header smaller lighter green">用户</h4>
												-->
												<!-- <div class="table-responsive">
												-->
												<!-- <div class="dataTables_borderWrap">
												-->
												<div>
													<table id="user-table" class="table table-striped table-bordered table-hover">
														<thead>
															<tr>
																<th>
																	<label class="position-relative">
																		<input type="checkbox" class="ace" />
																		<span class="lbl"></span>
																	</label>
																</th>
																<th data-hide="phone" class="sorting_disabled">
																	<i class="fa fa-fw fa-wrench"></i>
																	操作
																</th>
																<th data-class="expand" class="sorting">
																	<i class="fa fa-fw fa-user text-muted"></i>
																	姓名
																</th>
																<th data-hide="phone" class="sorting">
																	<i class="fa fa-fw fa-user text-muted"></i>
																	用户名
																</th>
																<th data-hide="phone" class="sorting">
																	<i class="fa fa-fw fa-credit-card text-muted"></i>
																	身份证
																</th>
																<!-- <th class="sorting">
																<i class="fa fa-fw fa-phone text-muted"></i>
																手机
															</th>
															-->
															<th data-hide="phone,tablet" class="sorting">
																<i class="fa fa-fw fa-clock-o"></i>
																最后登陆时间
															</th>
															<th class="sorting">
																<i class="fa fa-fw fa-eye"></i>
																状态
															</th>
														</tr>
													</thead>
													<tbody></tbody>

												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- PAGE CONTENT ENDS -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content-area -->
</div>
<!-- /.page-content -->
</div>
<!-- /.main-content -->

<!-- addUser.modal -->
<div id="addUser" class="modal fade">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">关闭</span>
			</button>
			<h4 class="modal-title">新增用户</h4>
		</div>
		<div class="modal-body no-padding-top">
			<div class="row">
				<form id="add_user_form">
					<div class="form-group">
						<div class="col-sm-12">
							<label for="add_organization">所属组织机构</label>
							<div class="input-group">
								<input type="hidden" id="add_organization" name="oid" style="width:570px"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<label for="add_username">用户名</label>
							<div class="input-group">
								<input type="text" id="add_username" name="username" placeholder="登陆用户名" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-user"></i>
								</span>
							</div>
						</div>
						<div class="col-sm-6">
							<label for="add_realname">真实姓名</label>
							<div class="input-group">
								<input type="text" id="add_realname" name="realname" placeholder="真实姓名" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-user"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<label for="add_password">密码</label>
							<div class="input-group">
								<input type="password" id="add_password" name="password" placeholder="密码" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-lock"></i>
								</span>
							</div>
						</div>
						<div class="col-sm-6">
							<label for="add_confirmpassword">确认密码</label>
							<div class="input-group">
								<input type="password" id="add_confirmpassword" name="confirmpassword" placeholder="确认密码" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-lock"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<label for="add_mobile">手机</label>
							<div class="input-group">
								<input type="text" id="add_mobile" name="mobile" placeholder="手机号" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-mobile"></i>
								</span>
							</div>
						</div>
						<div class="col-sm-6">
							<label for="add_phone">电话</label>
							<div class="input-group">
								<input type="text" id="add_phone" name="phone" placeholder="手机或固定电话号码" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-phone"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="add_idcard">身份证</label>
							<div class="input-group">
								<input type="text" id="add_idcard" name="idcard" placeholder="身份证号" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-credit-card"></i>
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>
			<button type="button" class="btn btn-primary btn-sm" id="addButton">新增</button>
		</div>
	</div>
	<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /addUser.modal -->

<!-- modifyUser.modal -->
<div id="modifyUser" class="modal fade">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">关闭</span>
			</button>
			<h4 class="modal-title">编辑用户</h4>
		</div>
		<div class="modal-body no-padding-top">
			<div class="row">
				<form id="modify_user_form">
					<input type="hidden" id="modify_id" name="id">
					<div class="form-group">
						<div class="col-sm-12">
							<label for="modify_organization">所属组织机构</label>
							<div class="input-group">
								<input type="hidden" id="modify_organization" name="oid" style="width:570px"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<label for="modify_username">用户名</label>
							<div class="input-group">
								<input type="text" id="modify_username" name="username" placeholder="登陆用户名" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-user"></i>
								</span>
							</div>
						</div>
						<div class="col-sm-6">
							<label for="modify_realname">真实姓名</label>
							<div class="input-group">
								<input type="text" id="modify_realname" name="realname" placeholder="真实姓名" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-user"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<label for="modify_password">密码</label>
							<div class="input-group">
								<input type="password" id="modify_password" name="password" placeholder="密码不修改留空" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-lock"></i>
								</span>
							</div>
						</div>
						<div class="col-sm-6">
							<label for="modify_confirmpassword">确认密码</label>
							<div class="input-group">
								<input type="password" id="modify_confirmpassword" name="confirmpassword" placeholder="确认密码也可留空" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-lock"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<label for="modify_mobile">手机</label>
							<div class="input-group">
								<input type="text" id="modify_mobile" name="mobile" placeholder="手机号" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-mobile"></i>
								</span>
							</div>
						</div>
						<div class="col-sm-6">
							<label for="modify_phone">电话</label>
							<div class="input-group">
								<input type="text" id="modify_phone" name="phone" placeholder="手机或固定电话号码" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-phone"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="modify_idcard">身份证</label>
							<div class="input-group">
								<input type="text" id="modify_idcard" name="idcard" placeholder="身份证号" class="form-control">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-credit-card"></i>
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>
			<button type="button" class="btn btn-primary btn-sm" id="modifyButton">确认</button>
		</div>
	</div>
	<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /modifyUser.modal -->

{{template "layout/footer.html" .}}
<script src="/static/ace1.3.1/js/fuelux/fuelux.tree.min.js"></script>
<script src="/static/ace1.3.1/js/bootbox.min.js"></script>
<script src="/static/ace1.3.1/js/select2.min.js"></script>
<script src="/static/ace1.3.1/js/jquery.dataTables.min.js"></script>
<script src="/static/ace1.3.1/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	var organizationTree = {};

	organizationTree.data = function (options, callback) {
		//console.log(options);
		var pid=options.id||0;
		$.ajax({
			type:"get",
			dataType:"json",
			url:"/api/organizations/",
			data:{
				"pid":pid
			},
			complete:function(){},
			success:function(msg){
				var data=[];
				$.each(msg,function(index,value){
					var type='item';
					if(value.Status==0){
						type='folder';
					}
					data.push({name:value.UnitName,type:type,id:value.Id})
				});
				callback({data:data});
			}
		});
	};

	$('#organization-tree').ace_tree({
		dataSource: organizationTree,
		multiSelect:false,
		cacheItems:false,
		folderSelect:true,
		loadingHTML:'<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
		'open-icon' : 'ace-icon tree-minus',
		'close-icon' : 'ace-icon tree-plus',
		'selectable' : true,
		'selected-icon' : 'ace-icon fa fa-check',
		'unselected-icon' : 'ace-icon fa fa-times'
	});

// $('#tree2').ace_tree({
// 	dataSource: treeDataSource2 ,
// 	loadingHTML:'<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
// 	'open-icon' : 'ace-icon fa fa-folder-open',
// 	'close-icon' : 'ace-icon fa fa-folder',
// 	'selectable' : false,
// 	'selected-icon' : null,
// 	'unselected-icon' : null
// });


// $('#tree1')
// .on('updated', function(e, result) {
// 	//result.info  >> an array containing selected items
// 	//result.item
// 	//result.eventType >> (selected or unselected)
// })
// .on('selected', function(e) {
// })
// .on('unselected', function(e) {
// })
// .on('opened', function(e) {
// })
// .on('closed', function(e) {
// });



/**
$('#tree1').on('loaded', function (evt, data) {
});

$('#tree1').on('opened', function (evt, data) {
});

$('#tree1').on('closed', function (evt, data) {
});

$('#tree1').on('selected', function (evt, data) {
});
*/


	// $('#ou-tree').on('loaded', function (e) {
	// 	console.log('Loaded');
	// });

	// $('#ou-tree').on('selected', function (e, info) {
	// 	console.log('Select Event: ', info);

	// });

	// $('#ou-tree').on('opened', function (e, info) {
	// 	console.log('Open Event: ', info);
	// });

	// $('#ou-tree').on('closed', function (e, info) {
	// 	console.log('Close Event: ', info);
	// });

	// $('#add').on('click',function (e) {
	// 	console.log(e);
	// 	console.log($('#ou-tree').tree('selectedItems'));
	// 	//alert($('#ou-tree').tree('selectedItems')[0].id);
	// })

	//fetch organization list 
	// $.ajax({
	// 		type:"get",
	// 		dataType:"json",
	// 		url:"/organizations",
	// 		data:"pid=0",
	// 		complete:function(){},
	// 		success:function(msg){
	// 			$.each(msg,function(index,value){
	// 				if(index==0){
	// 					$('#organization1>ul').append('<li data-value="'+value.Id+'" data-selected="true"><a href="#">'+value.UnitName+'</a></li>');
	// 					$('#organization2>ul').append('<li data-value="'+value.Id+'" data-selected="true"><a href="#">'+value.UnitName+'</a></li>');
	// 				}else{
	// 					$('#organization1>ul').append('<li data-value="'+value.Id+'"><a href="#">'+value.UnitName+'</a></li>');
	// 					$('#organization2>ul').append('<li data-value="'+value.Id+'" data-selected="true"><a href="#">'+value.UnitName+'</a></li>');
	// 				}
	// 			});
	// 			//$('#organization').select();
	// 		}
	// 	});

	var userTable=$('#user-table')
	//.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
	.dataTable({
		"processing":true,
		"serverSide":true,
		"pagingType":"full_numbers",
		"bSort":false,
		"ajax":{
			"url":"/api/users",
			// "data":{
			// 	oid:0,
			// },
			"dataSrc":function(json){
				return json.data;
			}
		},
		"sDom":"<'row'<'col-xs-6'i><'col-xs-6'f>>"+
				"t"+
				"<'row'<'col-xs-4 dt-toolbar'><'col-xs-6'p><'col-xs-2'l>>",
		//"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "全部"]],
		"lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
		"oLanguage": {  
			"sProcessing": "正在加载数据...",  
			"sSearch": '搜索用户:',  
			"sLengthMenu": " _MENU_ ",  
			"sZeroRecords": "无数据",  
			"sInfo": "_START_ 至 _END_ 共 _TOTAL_ 项",  
			"sInfoEmpty": " 0 至 0 共 0 项",  
			"sInfoFiltered": "(_MAX_)",
			"oPaginate":{
				"sFirst": "首页",
				"sPrevious": "上一页",
					"sNext": "下一页",
				"sLast": "末页"
			}
		},
		bAutoWidth: true,
		"aoColumns":[  
			null,null,{"mDataProp":"RealName","bSortable": true }, {"mDataProp":"UserName","bSortable": true },{"mDataProp":"IdCard","bSortable": true }, {"mDataProp":"LastLogin","bSortable": true }, {"mDataProp":"Status","bSortable": true }
		],
		"aoColumnDefs":[
			{
				"orderable":false,
				"aTargets":[0],
				"mRender":function(data,type,full){
					return '<label class="position-relative"><input type="checkbox" class="ace" /><span class="lbl"></span></label>';
				}
			},
			{
				"aTargets":[1],
				"mRender":function(data,type,full){
					return '<div class="hidden-sm hidden-xs btn-group"><button class="btn btn-xs btn-info"><i class="ace-icon fa fa-pencil bigger-120"></i></button><button class="btn btn-xs btn-danger"><i class="ace-icon fa fa-trash-o bigger-120"></i></button></div>';
				}
			},
			{
				"aTargets":[5],
				"mRender":function(data,type,full){
					var date=new Date(data);
					var rdata=date.getFullYear()+'年'+(date.getMonth()+1)+'月'+date.getDate()+'日 '+date.getHours()+':'+date.getMinutes()+':'+date.getSeconds();
					return rdata;
				}
			},
			{
				"aTargets":[6],
				"mRender":function(data,type,full){
					var rdata='';
					if(data==1){
						rdata='<span class="label label-default">禁用</span>';
					}else{
						rdata='<span class="label label-success">正常</span>';
					}
					return rdata;
				}
			}
		],
		"aaSorting": [],
		bDestory:true,


		//,
		//"sScrollY": "200px",
		//"bPaginate": false,

		//"sScrollX": "100%",
		//"sScrollXInner": "120%",
		//"bScrollCollapse": true,
		//Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
		//you may want to wrap the table inside a "div.dataTables_borderWrap" element

		//"iDisplayLength": 50
    });
	/**
	var tableTools = new $.fn.dataTable.TableTools( oTable1, {
		"sSwfPath": "../../copy_csv_xls_pdf.swf",
        "buttons": [
            "copy",
            "csv",
            "xls",
			"pdf",
            "print"
        ]
    } );
    $( tableTools.fnContainer() ).insertBefore('#sample-table-2');
	*/

	$('.dt-toolbar').append('<div class="ui-pg-div">'
		+'<span class="ui-icon ace-icon fa fa-plus-circle purple" data-rel="tooltip" title="" data-original-title="新增用户" id="addBtn"></span> '
		+'<span class="ui-icon ace-icon fa fa-pencil blue" data-rel="tooltip" title="" data-original-title="编辑所选用户" id="modifyBtn"></span> '
		+'<span class="ui-icon ace-icon fa fa-search-plus grey" data-rel="tooltip" title="" data-original-title="查看所选用户" id="viewBtn"></span> '
		+'<span class="ui-icon ace-icon fa fa-trash-o red" data-rel="tooltip" title="" data-original-title="删除所选用户" id="deleteBtn"></span> '
		// +'<span class="ui-icon ace-icon fa fa-search orange"></span> '
		+'<span class="ui-icon ace-icon fa fa-refresh green" data-rel="tooltip" title="" data-original-title="刷新" id="reloadBtn"></span> '
		+'</div>');

	$('[data-rel=tooltip]').tooltip();

	$(document).on('click', '#user-table th input:checkbox' , function(){
		var that = this;
		$(this).closest('#user-table').find('tr > td:first-child input:checkbox')
		.each(function(){
			this.checked = that.checked;
			$(this).closest('#user-table tr').toggleClass('selected');
		});
	});
	$('#user-table').delegate('tr > td:first-child input:checkbox','click',function(){
		//var ctr=$(this).closest('#user-table tr');
		// $(this).parent().parent().parent().toggleClass('selected');
		// console.log($(this).parent().parent().parent());
		//console.log($(this).closest('#user-table tr'));
		//console.log(ctr);
		// ctr.toogleClass('odd');
		// ctr.toogleClass('even');
		//ctr.toogleClass('selected');
		$(this).parent().parent().parent().toggleClass('selected');
		// var userTable=$('#user-table').DataTable();
		// console.log(userTable.rows('.selected').data().length);
	});
	
	//更新用户数据表函数
	function loadUsers(e,data){
		//console.log(data);
		//console.log(userTable);
		//alert(data.info[0].id);
		//判断是目录还是节点确定对应的id
		var id=data.id||data.info[0].id;
		//alert(id);
		//载入新的表格数据
		//$('#user-table').dataTable().ajax.reload(null,false);
		$.ajax({
			type:"get",
			dataType:"json",
			url:"/api/users",
			// "data":{
			// 	oid:id,
			// },
			success:function(json){
				var userTable=$('#user-table').dataTable();
				var oSettings=userTable.fnSettings();
				if(id>=0){
					oSettings['ajax']['data']={oid:id};
				}
				//console.log(oSettings);
				//清空datatables
				userTable.fnClearTable(this);
				for(var i=0;i<json.data.length;i++){
					userTable.oApi._fnAddData(oSettings,json.data[i]);
				}
				oSettings.aiDisplay=oSettings.aiDisplayMaster.slice();
				userTable.fnDraw();
			}
		});
	}
	//选中某个组织机构节点时更新用户列表
	$('#organization-tree').on('selected',loadUsers);
	//$('#organization-tree').on('unselected',loadUsers);
	$('#organization-tree').on('opened',loadUsers);
	$('#organization-tree').on('closed',loadUsers);

	//新增用户
	$('#addUser').on('show.bs.modal',function(e){
		//console.log($('#user-table').find('tr > td:first-child input:checkbox').length);
		//$('#add_organization').val(1);
		//初始化所属组织机构列表
		$('#add_organization').select2({
			placeholder:"输入选择所属组织机构",
			minimumInputLength:1,
			ajax:{
				url:"/api/organizations",
				dataType:"json",
				quietMillis: 300,
				data:function(term,page){
					return {
						q:term,
						page_limit:10,
						page:page
					};
				},
				results:function(data,page){
					var retdata=[];
					$.each(data,function(index,value){
						retdata.push({id:value.Id,text:value.UnitName});
					});
					return {results:retdata};
				}
			},
			// initSelection:function(element,callback){
			// 	var id=$(element).val();
			// 	if(id!==""){
			// 		$.ajax("/api/organizations/"+id,{
			// 			// data:{
			// 			// 	pid:0
			// 			// },
			// 			dataType:"json"
			// 		}).done(function(data){
			// 			var retdata={id:data[0].Id,text:data[0].UnitName};
			// 			callback(retdata);
			// 		});
			// 	}
			// },
			//formatResult:formatResult,
			//formatSelection:formatSelection,
			dropdownCssClass:"bigdrop",
			escapeMarkup:function(m){return m;}
		});
	});

	$('#addBtn').click(function(){
		$('#addUser').modal('show');
	});
	$('#addUser').modal({
		"backdrop":"static",
		"keyboard":true,
		"show":false,
	});
	
	//新增按钮点击
	$('#addButton').on('click',function(e){
		//console.log($('#add-organization-form')[0]['SortRank'].value);
		//console.log($('#organization').select('selectedItem').value);
		//console.log($('#add-organization-form').serialize()+"&pid="+$('#organization').select('selectedItem').value);
		if($('#add_username').val()==''){
			alert('用户名不能为空！');
			return false;
		}
		// if($('#add_realname').val()==''){
		// 	alert('真实姓名不能为空！');
		// 	return false;
		// }
		if($('#add_password').val()==''){
			alert('密码不能为空！');
			return false;
		}
		if($('#add_confirmpassword').val()=='' || $('#add_confirmpassword').val()!=$('#add_password').val()){
			alert('确认密码与密码不相同！');
			return false;
		}
		// if($('#add_mobile').val()==''){
		// 	alert('手机号不能为空！');
		// 	return false;
		// }
		// if($('#add_phone').val()==''){
		// 	alert('电话号不能为空！');
		// 	return false;
		// }
		// if($('#add_idcard').val()==''){
		// 	alert('身份证号不能为空！');
		// 	return false;
		// }
		// if($('#add_sortrank').val()<1 || $('#add_sortrank').val()>100){
		// 	alert('排序值只能在1到100之间！');
		// 	return false;
		// }

		$.ajax({
			type:"post",
			dataType:"json",
			url:"/api/users/add",
			data:$('#add_user_form').serialize(),
			complete:function(){},
			success:function(msg){
				if(msg.Sueecss==true){
					alert(msg.Msg);
				}else{
					alert(msg.Msg);
					$('#addUser').modal('toggle');
				}
				//重新加载表格数据
				loadUsers(undefined,{id:-1});
			}
		});
	});

	// 编辑用户
	$('#modifyUser').on('show.bs.modal',function(e){
		var userTable=$('#user-table').DataTable();
		//console.log(userTable.rows('.selected').data().length);

		//载入对应的用户信息
		if(userTable.rows('.selected').data().length!=1){
			alert('必须选择要编辑的用户，而且只能选择一个用户！');
			return false;
		}else{
			//var userTable=$('#user-table').dataTable();
			//var oSettings=userTable.fnSettings();
			//var id=oSettings['ajax']['data'] ? oSettings['ajax']['data'].oid : 0;
			//console.log(userTable.rows('.selected').data());
			$('#modify_organization').val(userTable.rows('.selected').data()[0].OrgUnit.Id);
			//初始化所属组织机构列表
			$('#modify_organization').select2({
				placeholder:"输入选择所属组织机构",
				minimumInputLength:1,
				ajax:{
					url:"/api/organizations",
					dataType:"json",
					quietMillis: 300,
					data:function(term,page){
						return {
							q:term,
							page_limit:10,
							page:page
						};
					},
					results:function(data,page){
						var retdata=[];
						$.each(data,function(index,value){
							retdata.push({id:value.Id,text:value.UnitName});
						});
						return {results:retdata};
					}
				},
				initSelection:function(element,callback){
					var id=$(element).val();
					if(id>0){
						//console.log(id);
						$.ajax("/api/organizations/"+id,{
							// data:{
							// 	pid:0
							// },
							dataType:"json"
						}).done(function(data){
							var retdata={id:data[0].Id,text:data[0].UnitName};
							callback(retdata);
						});
					}
				},
				//formatResult:formatResult,
				//formatSelection:formatSelection,
				dropdownCssClass:"bigdrop",
				escapeMarkup:function(m){return m;}
			});
			//根据用户id载入用户信息
			var userTable=$('#user-table').DataTable();
			//console.log(userTable.rows('.selected').data()[0].Id);

			$.ajax("/api/users/"+userTable.rows('.selected').data()[0].Id,{
				dataType:"json"
			}).done(function(data){
				//console.log(data);
				$('#modify_id').attr("value",data.Id)
				$('#modify_username').attr("value",data.UserName);
				$('#modify_realname').attr("value",data.RealName);
				$('#modify_mobile').attr("value",data.Mobile);
				$('#modify_phone').attr("value",data.Phone);
				$('#modify_idcard').attr("value",data.IdCard);
			});
			//$('#modify_unitname').attr("value",$('#organization_tree').tree('selectedItems')[0].name);
			return true;
		}
	});
	$('#modifyBtn').click(function(){
		//var userTable=$('#user-table').DataTable();
		//console.log(userTable.rows('.selected').data());
		$('#modifyUser').modal('show');
	});
	$('#modifyUser').modal({
		"backdrop":"static",
		"keyboard":true,
		"show":false,
	});
	
	// click modifyButton
	$('#modifyButton').on('click',function(e){
		//console.log($('#add-organization-form')[0]['SortRank'].value);
		//console.log($('#organization').select('selectedItem').value);
		//console.log($('#add-organization-form').serialize()+"&pid="+$('#organization').select('selectedItem').value);
		if($('#modify_username').val()==''){
			alert('用户名不能为空！');
			return false;
		}
		// if($('#modify_realname').val()==''){
		// 	alert('真实姓名不能为空！');
		// 	return false;
		// }
		// if($('#modify_password').val()==''){
		// 	alert('密码不能为空！');
		// 	return false;
		// }
		if($('#modify_confirmpassword').val()!='' || $('#modify_confirmpassword').val()!=$('#modify_password').val()){
			alert('确认密码与密码不相同！');
			return false;
		}
		// if($('#modify_mobile').val()==''){
		// 	alert('手机号不能为空！');
		// 	return false;
		// }
		// if($('#modify_phone').val()==''){
		// 	alert('电话号不能为空！');
		// 	return false;
		// }
		// if($('#modify_idcard').val()==''){
		// 	alert('身份证号不能为空！');
		// 	return false;
		// }

		$.ajax({
			type:"post",
			dataType:"json",
			url:"/api/users/modify",
			data:$('#modify_user_form').serialize(),
			complete:function(){},
			success:function(msg){
				if(msg.Sueecss==true){
					alert(msg.Msg);
				}else{
					alert(msg.Msg);
					$('#modifyUser').modal('toggle');
				}
				//重新加载表格数据
				loadUsers(undefined,{id:-1});
			}
		});
	});

	// delete user
	function deleteUsers(){
		var userTable=$('#user-table').DataTable();
		//console.log(userTable.rows('.selected').data().length);

		if(userTable.rows('.selected').data().length==0){
			alert('必须选择要删除的用户！');
			return false;
		}else{
			bootbox.confirm({
				message:"确认删除用户吗？",
				title:"",
				buttons:{
					cancel:{
						label:"取消",
						className:"btn-default btn-sm"
					},
					confirm:{
						label:"确定",
						className:"btn-primary btn-sm",
					}		
				},
				callback:function(result){
					if(result){
						var userTable=$('#user-table').DataTable();
						//console.log(userTable.rows('.selected').data());
						var idlist=[];
						for(var i=0;i<userTable.rows('.selected').data().length;i++){
							idlist.push(userTable.rows('.selected').data()[i].Id);
						}
						var ids=idlist.join(",");
						//console.log(ids);
						$.ajax({
							type:"post",
							dataType:"json",
							url:"/api/users/delete",
							data:{
								"ids":ids
							},
							complete:function(){},
							success:function(msg){
								//重新加载表格数据
								loadUsers(undefined,{id:-1});
								alert(msg.Msg);
							}
						});
					}
				}
			});
		}
	}
	$('#deleteBtn').on('click',function(e){
		deleteUsers();
	});
	$('#deleteUser').on('click',function(e){
		deleteUsers();
	});

	// reload user
	$('#reloadBtn').on('click',function(e){
		//重新加载表格数据
		loadUsers(undefined,{id:-1});
	});

});
		</script>
<!--script src="/static/ace1.3.1/js/bootstrap.min.js">
</script-->
</body>
</html>