{{define "layout/footer.html"}}
<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">{{ .SiteName }}</span> &copy; 2014-2015
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
					</div>

					<!-- /section:basics/footer -->
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]-->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='/static/ace1.3.1/js/jquery.min.js'>"+"<"+"/script>");
		</script>
		<!--[endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='/static/ace1.3.1/js/jquery1x.min.js'>"+"<"+"/script>");
		</script>
		<![endif]-->
		
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/static/ace1.3.1/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/static/ace1.3.1/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->
		<script src="/static/ace1.3.1/js/ace-elements.min.js"></script>
		<script src="/static/ace1.3.1/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script src="/static/js/app.js"></script>

{{end}}