{{define "layout/header.html"}}
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>{{ .SiteName }}</title>

	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="/static/ace1.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/ace1.3.1/css/font-awesome.min.css" />

	<!-- page specific plugin styles -->

	<!-- text fonts -->
	<link rel="stylesheet" href="/static/ace1.3.1/css/ace-fonts.css" />

	<!-- ace styles -->
	<link rel="stylesheet" href="/static/ace1.3.1/css/ace.min.css" id="main-ace-style" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="/static/ace1.3.1/css/ace-part2.min.css" />
	<![endif]-->
	<link rel="stylesheet" href="/static/ace1.3.1/css/ace-skins.min.css" />
	<link rel="stylesheet" href="/static/ace1.3.1/css/ace-rtl.min.css" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="/static/ace1.3.1/css/ace-ie.min.css" />
	<![endif]-->

	<link rel="stylesheet" href="/static/css/main.css" />

	<!-- inline styles related to this page -->

	<!-- ace settings handler -->
	<script src="/static/ace1.3.1/js/ace-extra.min.js"></script>

	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

	<!--[if lte IE 8]>
	<script src="/static/ace1.3.1/js/html5shiv.min.js"></script>
	<script src="/static/ace1.3.1/js/respond.min.js"></script>
	<![endif]-->
{{end}}